/* ===============  Media Queries  =============== */


@media screen and (min-width: 1200px) {
	.container {
		width: 1230px;
		max-width: 100%;
	}
}

@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 1199px) {
	.about-item {
		width: calc(25% - 90px);
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 991px) {
	.about-item {
		width: calc(33% - 90px);
	}
	.ads-box-left {
		margin-bottom: 30px;
	}	
}

@media screen and (max-width: 767px) {
	.about-wrap {
		margin-left: -50px;
		align-items: stretch !important;
	}
	.about-item {
		margin-left: 50px;
		width: calc(50% - 50px);
	}
	.box-custom-shadow:before, .box-custom-shadow:after {
		box-shadow: unset;
	}
}

@media screen and (max-width: 480px) {
	
	
}




